g.drect rect{
    opacity:20%;
} 

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 8px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover{
    background-color: white;
  }

.colName:hover{
    cursor:grab;
  }
